/* GENERICO */

.navbar {
    background-color: #2c3e50;
    min-height: 100px;
}

.start {
    height: 675px;
    background-color: #1abc9c;
}

.portfolio {
    height: 1000px;
}

.about {
    min-height: 570px;
    background-color: #1abc9c;
}

.h_col {
    min-height: 300px;
}

.contact {
    min-height: 800px;
}

footer {
    min-height: 400px;
}

.footer_top {
    background-color: #3a546d;
    min-height: 280px;
}

.footer_bottom {
    background-color: #2c3e50;
    min-height: 120px;
}

/* UTILITIES */

.bg_red {background-color: #ba4b63;}
.bg_azure {background-color: #1ea4b6;}
.bg_black {background-color: #140f0f;}
.bg_lightblue {background-color: #1c83c1;}
.bg_blue {background-color: #0e38b5;}
.bg_brown {background-color: #ccb2a3;}
