


.bg_header {
    background-color: #2c3e50;
}

header {
    height: 100px;
}

.start {
    height: 675px;
    background-color: #1abc9c;
}

.portfolio {
    height: 1000px;
}

.portfolio {
    height: 1000px;
}

